<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>观数科技-主页</title>
  <!-- Bootstrap3 -->
  <link href="${base}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="${base}/lib/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="${base}/lib/bootstrap/css/bootstrapSwitch.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="${base}/js/html5shiv.min.js"></script>
  <script src="${base}/js/respond.min.js"></script>

  <![endif]-->
  <link rel="stylesheet" href="${base}/css/base.css">
  <!-- jQuery (v2.2.4) -->
  <script src="${base}/lib/jquery.js"></script>


  <link rel="icon" sizes="any" href="${base}/img/favicon.ico">
</head>