<div class="gs-index-list" id="index_list">
	<div class="panel-group" id="accordion">
		<ul class="nav nav-pills nav-stacked gs-nav-bottom">
				<!-- <ul class="nav nav-pills nav-stacked gs-index-list-sm">
					<li class="gs-index-list-b-sm" navUrl="/clusterm/"><a
						href="${base}/clusterm/list">集群总览</a></li>
				</ul> -->
				<ul class="nav nav-pills nav-stacked gs-index-list-sm">
					<li class="gs-index-list-b-sm" navUrl="/visite/"><a
						href="${base}/visite/list">访问总览</a></li>
				</ul>
				<ul class="nav nav-pills nav-stacked gs-index-list-sm">
					<li class="gs-index-list-b-sm" navUrl="/visittu/"><a
						href="${base}/visittu/list">访客动态</a></li>
				</ul>
				<ul class="nav nav-pills nav-stacked gs-index-list-sm">
					<li class="gs-index-list-b-sm" navUrl="/visittr/"><a
						href="${base}/visittr/list">资源动态</a></li>
				</ul>
		</ul>
	</div>
</div>