<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>观数科技</title>
    <!-- Bootstrap3 -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../resources/lib/assets/css/animate.min.css" rel="stylesheet"> -->
    <link href="/lib/assets/css/paper-dashboard.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../resources/css/base.css">
    <link rel="stylesheet" href="../resources/css/index.css">
</head>
<body style='height: 100%;'>
<div class="navbar violet">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="javascript:;" data-url='**.html'><img src="../resources/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-left-list">
                <ul class="dropMenu clearfix">
                    <li class="active"><a href="javascript:;" data-url='./overview/overview.html'>概览</a></li>
                    <li>
                        <a href="javascript:;">插件 <i class="glyphicon glyphicon-menu-down"></i></a>
                        <ul class="onemenu">
                            <li>
                                <a href="javascript:;">cluster1 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='2*.html'>HDFS</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Hive</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>HBACE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">cluster2 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='**.html'>HDFS2</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Zookeeper2</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Job2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-url='**.html'>权限 <i class="glyphicon glyphicon-menu-down"></i></a>
                        <ul class="onemenu">
                            <li>
                                <a href="javascript:;" data-url='**.html'>cluster2 <i
                                        class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='**.html'>HDFS</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Zookeeper</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Job</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-url='**.html'>cluster3 <i
                                        class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='**.html'>HDFS2</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Zookeeper2</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Job2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">安全 <i class="glyphicon glyphicon-menu-down"></i></a>
                        <ul class="onemenu">
                            <li>
                                <a href="javascript:;">cluster2 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='**.html'>HDFS</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Zookeeper</a></li>
                                    <li><a href="localhost:8083/sendbox/index">Job</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">cluster3 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='./security/administrator.html'>系统管理员</a></li>
                                    <li><a href="javascript:;" data-url='./security/subscribe.html'>消息订阅</a></li>
                                    <li><a href="javascript:;" data-url='./security/subscription.html'>消息列表</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" data-url='**.html'>漏洞</a></li>
                    <li>
                        <a href="javascript:;">浏览 <i class="glyphicon glyphicon-menu-down"></i></a>
                        <ul class="onemenu">
                            <li>
                                <a href="javascript:;">cluster2 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='./browse/HDFS.html'>HDFS</a></li>
                                    <li><a href="javascript:;" data-url='./browse/Zookeeper.html'>Zookeeper</a></li>
                                    <li><a href="javascript:;" data-url='./browse/job.html'>Job</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">cluster3 <i class="glyphicon glyphicon-menu-down"></i></a>
                                <ul class="twomenu">
                                    <li><a href="javascript:;" data-url='./browse/browse.html'>消息列表</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Zookeeper2</a></li>
                                    <li><a href="javascript:;" data-url='**.html'>Job2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-recast">
                <li><a href="javascript:;" data-url='**.html'><i class="glyphicon glyphicon-tips"></i><i
                        class="glyphicon glyphicon-newsNumber">999</i></a></li>
                <li><a href="javascript:;" data-url='**.html'><i class="glyphicon glyphicon-notice"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:;" data-url='**.html' class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">王建军<i
                            class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" data-url='**.html'>修改密码</a></li>
                        <li><a href="javascript:;" data-url='**.html'>设置</a></li>
                        <li><a href="javascript:;" data-url='**.html'>退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="app-main">
    <iframe class='js-mainframe' id="mainframe" name="mainframe" src="" frameborder="0" width="100%"
            height="100%"></iframe>
</div>
<div class="footer">
    <p><a href="#">正式版 v1.1.0</a><span>证书正常</span><span>2017年7月16日 11:24:09</span></p>
</div>
<!-- jQuery (v2.2.4) -->
<script src="../resources/lib/jquery.js"></script>
<!-- bootstrap3 -->
<script src="../resources/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../resources/js/index.js"></script>
<script src="../resources/js/common.js"></script>
</body>
</html>