[#include "/include/header_index.html"]
<body style='height: 100%;'>
[#include "/include/navbar.html"]
<div class="app-main">
  <div class="header_top clearfix">
    <p class="information">
      今日访问：<span class="todayVisit">${homeVo.todayAccess}</span>
      IP总访问：<span class="IPVisit">${homeVo.ipTotalAccess}</span>
      今日违规：<span class="todayIllegal">${homeVo.todayViolation}</span>
      违规次数：<span class="IllegalNum">${homeVo.totalViolation}</span>
    </p>
    <div class="function clearfix">
      <div class="safety" title="安全指数"><a href="${homeVo.loopholeUrl}"><img
          src="/img/safety.png"><span>${homeVo.loopholeScore}</span></a></div>
      <div class="Time">
        <span>${homeVo.highDay}</span><span>${homeVo.day}</span>天<span>${homeVo.highhour}</span><span>${homeVo.hour}</span>时
      </div>
      <div class="dropdown colony js-firstColum">
    </div>
  </div>
  </div>
  <div class="colonyBox">
    <ul class="clearfix">
      [#list homeVo.pluginStatus as plugin]

      [#if plugin.type == "hdfs"]
      <li>
        <div class="business">
          <p>HDFS</p>

          <div class="business_cont">
            <ul class="clearfix">
              <li>
                <p>用户</p>
                <a href="${base}/authority/user/list">${plugin.userCount}</a>
              </li>
              <li>
                <p>权限</p>
                <a href="${base}/authority/privilege/list">${plugin.authCount}</a>
              </li>
              <li>
                <p>审计</p>
                <a>${plugin.auditCount}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="operation panel-heading">
          [#if plugin.status == "0"]
          <a href="/services/list">运行中<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
          [#if plugin.status == "1"]
          <a href="/services/list" class="notice">异常<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
        </div>
      </li>
      [/#if]

      [#if plugin.type == "hbase"]
      <li>
        <div class="business">
          <p>HBASE</p>
          <div class="business_cont">
            <ul class="clearfix">
              <li>
                <p>用户</p>
                <a href="${base}/authority/user/list">${plugin.userCount}</a>
              </li>
              <li>
                <p>权限</p>
                <a href="${base}/authority/privilege/list">${plugin.authCount}</a>
              </li>
              <li>
                <p>审计</p>
                <a>${plugin.auditCount}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="operation panel-heading">
          [#if plugin.status == "0"]
          <a href="/services/hbase/list">运行中<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
          [#if plugin.status == "1"]
          <a href="/services/hbase/list" class="notice">异常<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
        </div>
      </li>
      [/#if]

      [#if plugin.type == "gateway"]
      <li>
        <div class="business">
          <p>GATEWAY</p>
          <div class="business_cont">
            <ul class="clearfix">
              <li>
                <p>用户</p>
                <a href="${base}/authority/user/list">${plugin.userCount}</a>
              </li>
              <li>
                <p>权限</p>
                <a href="${base}/authority/privilege/list">${plugin.authCount}</a>
              </li>
              <li>
                <p>审计</p>
                <a>${plugin.auditCount}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="operation panel-heading">
          [#if plugin.status == "0"]
          <a href="/services/gateway/list">运行中<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
          [#if plugin.status == "1"]
          <a href="#" class="notice">异常<i class="glyphicon glyphicon-menu-right"></i></a>
          [/#if]
        </div>
      </li>
      [/#if]

      [/#list]

      <li>
        <div class="business">
          <p>HIVE</p>
          <div class="business_cont">
            <ul class="clearfix">
              <li>
                <p>用户</p>
                <a>25</a>
              </li>
              <li>
                <p>权限</p>
                <a>78</a>
              </li>
              <li>
                <p>审计</p>
                <a>351</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="operation panel-heading">
          <a href="#" class="notice">未开启<i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="statisticsNav">
    <div class="statisticsHeader clearfix">
      <p class="statisticsTitle">访问统计</p>
      <!--<div class="strightNav">-->
      <!--<ul class="clearfix js-strightNav">-->
      <!--<li><a href="javascript:;" data-type="1" class="active">2小时</a></li>-->
      <!--<li><a href="javascript:;" data-type="2">今日</a></li>-->
      <!--<li><a href="javascript:;" data-type="3">本周</a></li>-->
      <!--<li><a href="javascript:;" data-type="4">本月</a></li>-->
      <!--<li><input size="16" placeholder="选择开始时间" type="text" id="datetimeStart" readonly class="form_datetime"></li>-->
      <!--<li><input size="16" placeholder="选择结束时间" type="text" id="datetimeEnd" readonly class="form_datetime"></li>-->
      <!--<li><span class="btn btn-search js-sub">查询</span></li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>
    <div class="echartsBox clearfix ">
      <div class="echartsblock panel panel-default">
        <p class="panel-heading"><span>访问统计</span><!-- <a href="#">更多...</a> --></p>
        <div id="visitStatistic" class="echartsModel"></div>
      </div>
      <div class="echartsblock  panel panel-default">
        <p class="panel-heading"><span>组件风险</span><!-- <a href="#">更多...</a> --></p>
        <div id="riskStatistic" class="echartsModel"></div>
      </div>
      <div class="echartsblock  panel panel-default">
        <p class="panel-heading"><span>访问类型</span><!-- <a href="#">更多...</a> --></p>
        <div id="visitType" class="echartsModel"></div>
      </div>
    </div>
  </div>
</div>
<script src="/lib/echarts.min.js"></script>
<script type="text/javascript">
  $(function () {
    loadDate('week', null, null);
  });
  /** 加载数据 */
  function loadDate(auditDateType, startTime, endTime) {
    // 访问统计---开始
    var myVisitStatistic = echarts.init(document.getElementById('visitStatistic'));
    myVisitStatistic.showLoading();
    var visitStatistic = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross'
        }
      },
      legend: {
        show: true,
        top: 10,
        right: 10,
        data:[{
          name: 'HDFS',
          icon: 'pin'
        },{
          name: 'HBASE',
          icon: 'pin'
        },{
          name: 'GATEWAY',
          icon: 'pin'
        }]
      },
      grid: {
        left: '3%',
        right: '8%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          boundaryGap: false,
          data: []
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: 'HDFS',
          type: 'line',
          stack: '总量',
          smooth: true,
          itemStyle: {
            normal: {
              color: '#06c6a0',
              lineStyle: {
                color: '#06c6a0'
              }
            }
          },
          areaStyle: {
            normal: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#06c6a0' // 0% 处的颜色
                }, {
                  offset: 1, color: '#06c6a0' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data: []
        }, {
          name:'HBASE',
          type:'line',
          stack: '总量',
          smooth:true,
          itemStyle : {
            normal : {
              color:'#697afa',
              lineStyle:{
                color:'#697afa'
              }
            }
          },
          areaStyle: {
            normal: {
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#697afa' // 0% 处的颜色
                }, {
                  offset: 1, color: '#697afa' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data:[]
        }, {
          name:'GATEWAY',
          type:'line',
          stack: '总量',
          smooth:true,
          itemStyle : {
            normal : {
              color:'#697afa',
              lineStyle:{
                color:'#697afa'
              }
            }
          },
          areaStyle: {
            normal: {
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#697afa' // 0% 处的颜色
                }, {
                  offset: 1, color: '#697afa' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data:[]
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myVisitStatistic.setOption(visitStatistic);
    // 访问类型---开始
    var myvisitType = echarts.init(document.getElementById('visitType'));
    // 指定图表的配置项和数据
    var VisitType = {
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      /*legend: {
       orient: 'vertical',
       top:20,
       right:'15',
       data: ['文件列表','创建文件夹','其他']
       },*/
      color: ['#697afa', '#06c6a0', '#f3bd47', '#FF3030', '#FF00FF', '#ADFF2F', '#636363',
        '#68228B'],
      series: [
        {
          name: '访问类型',
          type: 'pie',
          radius: ['50%', '70%'],
          center: ['50%', '50%'],
          data: [
          ],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myvisitType.setOption(VisitType);
    // 组件风险---开始
    var myriskStatistic = echarts.init(document.getElementById('riskStatistic'));
    // 指定图表的配置项和数据
    var RiskStatistic = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross'
        }
      },
      legend: {
        show: true,
        top: 10,
        right: 10,
        data: [{
          name: 'HDFS',
          icon: 'pin'
        },{
          name: 'HBASE',
          icon: 'pin'
        },{
          name: 'GATEWAY',
          icon: 'pin'
        }]
      },
      grid: {
        left: '3%',
        right: '8%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          boundaryGap: false,
          data: []
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: 'HDFS',
          type: 'line',
          stack: '总量',
          smooth: true,
          itemStyle: {
            normal: {
              color: '#06c6a0',
              lineStyle: {
                color: '#06c6a0'
              }
            }
          },
          areaStyle: {
            normal: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#06c6a0' // 0% 处的颜色
                }, {
                  offset: 1, color: '#06c6a0' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data: []
        }
        , {
          name:'HBASE',
          type:'line',
          stack: '总量',
          smooth:true,
          itemStyle : {
            normal : {
              color:'#697afa',
              lineStyle:{
                color:'#697afa'
              }
            }
          },
          areaStyle: {
            normal: {
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#697afa' // 0% 处的颜色
                }, {
                  offset: 1, color: '#697afa' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data:[]
        }, {
          name:'GATEWAY',
          type:'line',
          stack: '总量',
          smooth:true,
          itemStyle : {
            normal : {
              color:'#697afa',
              lineStyle:{
                color:'#697afa'
              }
            }
          },
          areaStyle: {
            normal: {
              color:{
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [{
                  offset: 0.5, color: '#697afa' // 0% 处的颜色
                }, {
                  offset: 1, color: '#697afa' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              }
            }
          },
          data:[]
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myriskStatistic.setOption(RiskStatistic);
    var url = '/home/query?&auditDateType=' + auditDateType + '&startTime=' + startTime
        + '&endTime=' + endTime;
    $.ajax({
      type: 'GET',
      url: url,
      dataType: 'json',
      success: function (data) {
        myVisitStatistic.hideLoading();
        var counts = [];//次数数组（实际用来盛放y轴坐标值）
        var times = [];//时间数组（实际用来盛放X轴坐标值）
        var hbaseCounts = [];
        var gatewayCounts=[];

        var fCounts=[];//风险时间数组（实际用来盛放X轴坐标值）
        var fTimes = [];//风险次数数组（实际用来盛放y轴坐标值）
        var fHbaseCount =[];
        var fGatewayCounts=[];

        var hbaseCount=0;
        var hdfsCount=0;
        var gateWayCount=0;

        var groupSuccessList = data.auditDailyStatisticsList;

       // times=["20171006", "20171007", "20171008", "20171009", "20171010","20171011","20171012"];
       // fTimes=["20171006", "20171007", "20171008", "20171009", "20171010","20171011","20171012"];
        for (var i = 0; i < groupSuccessList.length; i++) {
          if (groupSuccessList[i].accessType == 'hdfs') {
            counts[hdfsCount] = groupSuccessList[i].successCount;
            fCounts[hdfsCount]=groupSuccessList[i].filureCount;
            times[hdfsCount]=groupSuccessList[i].statisticDate.substring(0,8);
            fTimes[hdfsCount]=groupSuccessList[i].statisticDate.substring(0,8);
            hdfsCount=hdfsCount+1;
          }else if (groupSuccessList[i].accessType == 'hbase') {
            hbaseCounts[hbaseCount] = groupSuccessList[i].successCount;
            fHbaseCount[hbaseCount] = groupSuccessList[i].filureCount;
            hbaseCount=hbaseCount+1;
          }else if(groupSuccessList[i].accessType == 'gateway'){
            gatewayCounts[gateWayCount]=groupSuccessList[i].successCount;
            fGatewayCounts[gateWayCount]=groupSuccessList[i].filureCount;
            gateWayCount++;
          }
        }
        myVisitStatistic.setOption({        //加载数据图表
          xAxis: {
            data: times
          },
          series: [{
            // 根据名字对应到相应的系列
//            name: 'HDFS',
            data: counts
          },{
            // 根据名字对应到相应的系列
//            name: 'HBASE',
            data: hbaseCounts
          },{
            // 根据名字对应到相应的系列
//            name: 'GATEWAY',
            data: gatewayCounts
          }]
        });



        myriskStatistic.setOption({
          xAxis: {
            data: fTimes
          },
          series: [{
            // 根据名字对应到相应的系列
//           name: 'HDFS',
            data: fCounts
          },{
            // 根据名字对应到相应的系列
//            name: 'HBASE',
            data: fHbaseCount
          },{
            // 根据名字对应到相应的系列
//            name: 'GATWAY',
            data: fGatewayCounts
          }]
        });

        var accessData = [];
        accessData = data.fileAccessTypeList;
        //饼图数据
        myvisitType.setOption({
          series: [
            {
              name: '访问类型',
              type: 'pie',
              radius: ['50%', '70%'],
              center: ['50%', '50%'],
              data: accessData
              ,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        });

      },
      error: function (errorMsg) {
        myVisitStatistic.hideLoading();
      }
    });
  }
</script>
[#include "/include/footer_index.html"]
</body>
</html>
