<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>插件管理1</title>
  <!-- Bootstrap3 -->
  <link href="../../resources/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../resources/lib/assets/css/animate.min.css" rel="stylesheet"> -->
  <link href="../../resources/lib/assets/css/paper-dashboard.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="../../resources/css/base.css">
  <link rel="stylesheet" href="../../resources/css/adminiPlugconfig.css">
</head>
<body class="yHdfsBody">

<div class="yHeader">
  <input type="text" value="Cluster1">
</div>
<div class="yMain">
  <div class="fl">
    <ul class="nav nav-pills nav-stacked yPlugNav">
      <li class="active"><a data-toggle="tab" href="#"><i class="hd"></i>HDFS <b></b></a></li>
      <li><a data-toggle="tab" href="#"><i class="hb"></i>HBACE<b></b></a></li>
      <li><a data-toggle="tab" href="#"><i class="hi"></i>Hive<b></b></a></li>
      <li><a data-toggle="tab" href="#"><i class="ga"></i>Gateway<b></b></a></li>
    </ul>
  </div>
  <div class="fr">
    <p class="returnTo"><span>返回上一级</span></p>
    <div class="statebox clearfix">
      <div class="stateleft panel panel-default">
        <!-- <p class="panel-heading">插件状态<span class="abnormal">异常</span></p> -->
        <p class="panel-heading">插件状态<span>运行中</span></p>
        <div class="formdata">
          <div class="namedata"><span>名称:</span><b>i-23asedqwee23214asd</b></div>
          <div><span>Hostname：</span><i>Dbaadd.com</i></div>
          <div><span>更新时间：</span><i>Dbaadd.com</i></div>
          <div class="clearfix"><span class="fl">物理内存：</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
                   aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
          </div>
          <div class="clearfix"><span>平均负载：</span><i>Dbaadd.com</i></div>
        </div>
      </div>
      <div class="stateright panel panel-default">
        <p class="panel-heading">图表</p>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (v2.2.4) -->
<script src="../../resources/lib/jquery.js"></script>
<script src="../../resources/lib/bootstrap/js/bootstrap.js"></script>
<script src="../../resources/js/all.js"></script>
<script src="../../resources/js/hdfsPlug.js"></script>
</body>
</html>