[#include "/include/header_index.html"]
<body style='height: 100%;'>
[#include "/include/navbar.html"]
<div class="app-main">
  <!-- 内容 -->
  <div class="yHiveBody  jurisdiction" >
    <div class="yHeader">
      <span class="ga">HIVE(Cluster1)</span>
    </div>
    <div class="yMain clearfix">
      <div class="fl">
        <ul class="nav nav-pills nav-stacked yPlugNav">
          <li class="active"><a  href="${base}/authority/hive/user/list">用户管理</a></li>
          <li><a href="${base}/hive/role/list">角色管理</a></li>
          <li ><a href="${base}/hive/privilege/list">权限管理</a></li>
          <li ><a href="${base}/authority/hive/strategy/list">策略管理</a></li>
        </ul>
        </ul>
      </div>
      <div class="fr massges">
        <div class="panel panel-default toptitle">
          <p class="panel-heading">用户管理</p>
        </div>
        <div class="contBox clearfix">
          <form action="list" method="get" class="gs_table_form" id="formSearch">
            <input type="hidden" name="currentPage" id="currentPage"  value="${page.currentPage}"/>
            <div class="searcch">
                <input type="text" class="form-control"  placeholder="用户名"  name="name">
                      <button class="btn btn-default" type="submit">查询</button>
            </div>
          </form>
          <!--<a href="javascript:openUser();" data-toggle="modal" data-target="#myModal2">添加用户</a>-->
          <a href="javascript:openUser();" >添加用户</a>
        </div>
        <div class="tables">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>用户名</th>
              <th>备注</th>
              <th>角色</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            [#list GatewayUserVoList as user]
            <tr>
              <td>${user.name}</td>
              <td>[@p.tooltip value="${user.description}"/]</td>
              <td>[@p.tooltip value="${user.roles}"/]</td>
              <td>[@p.formatDate value="${user.createTime}"/]</td>
              <td>

                <a href="javascript:getRoles('${user.id}');" id="ajaxPri">角色</a>
                <a href="javascript:edit('${user.id}');">编辑</a>
                <a href="${base}/authority/hive/user/delete?userId=${user.id}" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
              </td>
            </tr>
            [/#list]
            </tbody>
          </table>
        </div>
        [@p.mongo_page value=page form="formSearch"/]

      </div>
    </div>

    <!-- 模态框 -->
    <!-- 模态框（Modal）添加用户 -->
    <div class="modal fade jurisdicModal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h6 class="modal-title" id="myModalLabel">添加用户</h6>
          </div>
          <form action="${base}/authority/hive/user/save" method="post" id="gsForm" autocomplete="off">
            <input type="hidden" value="" name="id" id="userIdEd">

            <div class="modal-body modal-adduser">
              <div class="modalAddgroup">
                  <span class="userdata">
                    <i>*</i>用户名
                  </span>

                <input type="text" name="name"  id="username" placeholder="请输入用户名" data-rule="required; username; remote[${base}/authority/hive/user/checkName, id];" />
              </div>
              <div class="modalAddgroup addCont">
                  <span class="userdata">
                    <i>*</i>备注
                  </span>
                <textarea name="description" id="description" placeholder="请输入需要备注的内容"data-rule="required;description;"></textarea>
              </div>
            </div>
            <div class="modal-footer footerBtn">
              <button type="submit" class="btn btn-primary">保存</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>



    <div class="modal fade jurisdicModal" id="privilege" tabindex="-1" role="dialog"
         aria-labelledby="privilegelLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h6 class="modal-title" id="privilegeh">角色</h6>
          </div>
          <form action="${base}/authority/hive/user/gprivilege" method="post">
            <input type="hidden" id="userid" name="userid" value="" />
            <div class="modal-body">               <!-- <a href="#">详情</a>-->

              <div class="row myoption">
                <div class="col-xs-5 myleftoption">
                  <p class="panel panel-default">角色选择</p>
                  <select name="from" id="multiselect" class="form-control" multiple="multiple">

                  </select>
                </div>
                <div class="col-xs-2 btn-magrin">
                  <!-- <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button> -->
                  <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i
                      class="glyphicon glyphicon-chevron-right"></i></button>
                  <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i
                      class="glyphicon glyphicon-chevron-left"></i></button>
                  <!--  <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button> -->
                </div>
                <div class="col-xs-5 myrightoption">
                  <p class="panel panel-default">已选择角色</p>
                  <select name="names" id="multiselect_to" class="form-control"  size="8"
                          multiple="multiple"></select>
                </div>
              </div>
            </div>
            <div class="modal-footer footerBtn">
              <button type="submit" class="btn btn-primary">确认</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
  </div>
  </div>
  [#include "/include/footer_index.html"]
  <!-- jQuery (v2.2.4) -->
  <!-- bootstrap3 -->
  <script type="text/javascript" src="${base}/lib/multiselect.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#multiselect').multiselect();
    });
    function openUser() {
        $('#username').val('');
        $('#description').val('');
        $('#hiddenName').val('');
        $('#gsForm').validator('cleanUp');
        $('#myModalLabel').html("添加用户");
        $('#myModal2').modal('show');
    }
    function edit(id) {
        $('#myModalLabel').html("编辑用户");
        $.ajax({
            type: 'GET',
            url: '${base}/authority/hive/user/getPolicy?userIdEd=' + id,
            dataType: 'json',
            success: function (data) {
                if (data.code == 0) {
                    var ob = data.data;
                    //console.log(ob)
                    $('#username').val(ob.name);
                    $('#path').val(ob.path);
                    $('#description').val(ob.description);
                    $('#userIdEd').val(id);
                    $('#gsForm').validator('cleanUp');
                    $('#myModal2').modal('show');
                   // alert( $('#userIdEd').val());

                }
            },
            error: function (errorMsg) {
                alert("error!")
            }
        });
    }
    function getRoles(userid) {
      $('#userid').val(userid);
      $.ajax({
        type: 'GET',
        url: '${base}/authority/hive/user/udetail?userid='+userid,
        dataType: 'json',
        success: function (data) {
          if(data.code==0){
            var usedPrivileges=data.data.usedRoles;
            var notUsedPrivileges=data.data.notUsedRoles;
            $('#multiselect').empty();
            $('#multiselect_to').empty();
            for (var k = 0, length = notUsedPrivileges.length; k < length; k++) {
              $('#multiselect').append($("<option  value='" + notUsedPrivileges[k] + "'>" + notUsedPrivileges[k] + "</option> "));
            }
            for (var k = 0, length = usedPrivileges.length; k < length; k++) {
              $('#multiselect_to').append($("<option value='" + usedPrivileges[k] + "'>" + usedPrivileges[k] + "</option>"));
            }
            $('#privilege').modal('show');
          }
        },
        error: function (errorMsg) {
          alert("error!")
        }
      });
    }
  </script>
</body>
</html>
